/* main scss file */

body {
  font-weight: 300;
  color: #333;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.6em;
}

p {
  color: #555;
  line-height: 2em;
}

img {
  max-width: 100%;
}

.center {
  text-align: center;
}

.container {
  max-width: 900px;
}

header {

  .download-btns {
    img {
      margin: 0 10px;
    }
  }

  .row-header {
    padding-top: 120px;
    max-width: 600px;
    margin: 0 auto;
  }
}

.stripe {
  padding: 80px 0;

  &.greyed {
    background-color: $lightgrey;
  }

  img.no-margin {
    margin-bottom: -80px;
  }

  #team-banner {
    margin: 50px 0;
  }

  #react-logo {
    margin-top: 50px;
  }

  #flask-logo {
    margin-top: 50px;
  }
}

.jumbotron1 {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: full;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.0em 0.0em 0.0em;
}

.jumbotron {
    position: relative;
    background: #000 url("../images/cover1.jpg") center center;
    //background-color: #17d585; 
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
    padding-bottom: 100px;
    padding-top: 0;
    margin: 0;
}
.logo{
  margin-top: 20px;
  float: center;
}

// .logoblack{
//   position: relative;
//   margin-bottom: 10px;
//   margin-right: 10px;
//   margin-left: 10px;
// }

// .btn-me{
//   font-weight: normal;
//   border-color: #337AB7;
//   background-color: #337AB7;
//   background: #337AB7;
//   /*background: #323942;*/
// }
// .title{
//   position: centre;
//   text-align: center;
//   font-weight: lighter;
// }

// .text{
//   position: centre;
//   text-align: justify;
//   font-weight: lighter;
//   font-size: 18px;
//   color: gray;
//   padding-left: 80px;
//   padding-right: 80px;
//   padding-bottom: 20px;
//   padding-top: 10px;
// }

// .lasttext{
//   position: centre;
//   text-align: justify;
//   font-weight: lighter;
//   font-size: 18px;
//   color: gray;
//   padding-left: 80px;
//   padding-right: 80px;
//   padding-bottom: 100px;
//   padding-top: 30px;
// }

// .breadcrumb-me{
//   background-color: transparent;
//   padding-top: 5px;
//   padding-bottom: 5px;
//   padding-left: 30px;
// }

.footer-me{
  padding-left: 70px;
  padding-right: 70px;
  border-top: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: normal;
  background-color: #f2f2f2;
}

// .text-footer{
//   font-weight: normal;
//   color: gray;
//   font-size: 12px;
//   margin-right: 10px;
// }

// .img-app{
//   position: relative;
//   padding-left: 80px;
//   padding-right: 80px;
//   max-width: 100%;
//   height: auto;
// }
// .img-me{
//   position: relative;
//   padding-left: 80px;
//   padding-right: 80px;
//   padding-bottom: 50px;
//   max-width: 100%;
//   height: auto;
// }

// .pull-right {
//   float: right;
// }

.social-pad {
  padding: 5px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.screenshots img { 
    float:left;
    width: 25%;
}

.screenshots {
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .screenshots img { 
    width: 100%;
  }
}
